<xml version="1.0">
<dashboard>
	<widget field="Auto mode" type="String Chooser" class="edu.wpi.first.smartdashboard.gui.elements.Chooser">
		<location x="0" y="505"/>
	</widget>
	<static-widget class="edu.wpi.first.smartdashboard.gui.elements.WebcamViewerExtension">
		<location x="49" y="6"/>
	</static-widget>
	<static-widget class="edu.wpi.first.smartdashboard.gui.elements.ConnectionIndicator">
		<location x="0" y="0"/>
	</static-widget>
	<static-widget class="edu.wpi.first.smartdashboard.gui.elements.WebcamViewerExtension">
		<location x="45" y="6"/>
	</static-widget>
	<static-widget class="edu.wpi.first.smartdashboard.gui.elements.ConnectionIndicator">
		<location x="0" y="0"/>
	</static-widget>
</dashboard>
<live-window>
</live-window>
</xml>