<xml version="1.0">
<dashboard>
	<widget field="avger" type="Number" class="edu.wpi.first.smartdashboard.gui.elements.TextBox">
		<location x="0" y="598"/>
	</widget>
	<widget field="angle sp" type="Number" class="edu.wpi.first.smartdashboard.gui.elements.TextBox">
		<location x="0" y="575"/>
	</widget>
	<widget field="angle out" type="Number" class="edu.wpi.first.smartdashboard.gui.elements.TextBox">
		<location x="0" y="552"/>
	</widget>
	<widget field="turnangle done" type="Boolean" class="edu.wpi.first.smartdashboard.gui.elements.TextBox">
		<location x="0" y="529"/>
	</widget>
	<widget field="IntakeIn" type="Boolean" class="edu.wpi.first.smartdashboard.gui.elements.TextBox">
		<location x="0" y="506"/>
	</widget>
	<widget field="straight on" type="Boolean" class="edu.wpi.first.smartdashboard.gui.elements.TextBox">
		<location x="0" y="483"/>
	</widget>
	<widget field="Ball found" type="Boolean" class="edu.wpi.first.smartdashboard.gui.elements.TextBox">
		<location x="0" y="460"/>
	</widget>
	<widget field="left ir voltage" type="Number" class="edu.wpi.first.smartdashboard.gui.elements.TextBox">
		<location x="0" y="437"/>
	</widget>
	<widget field="right ir voltage" type="Number" class="edu.wpi.first.smartdashboard.gui.elements.TextBox">
		<location x="0" y="414"/>
	</widget>
	<widget field="angle" type="Number" class="edu.wpi.first.smartdashboard.gui.elements.TextBox">
		<location x="0" y="391"/>
	</widget>
	<widget field="right" type="Number" class="edu.wpi.first.smartdashboard.gui.elements.TextBox">
		<location x="0" y="368"/>
	</widget>
	<widget field="left" type="Number" class="edu.wpi.first.smartdashboard.gui.elements.TextBox">
		<location x="0" y="345"/>
	</widget>
	<widget field="Distance" type="Number" class="edu.wpi.first.smartdashboard.gui.elements.TextBox">
		<location x="0" y="322"/>
	</widget>
	<widget field="Left Joystick" type="Number" class="edu.wpi.first.smartdashboard.gui.elements.TextBox">
		<location x="0" y="299"/>
	</widget>
	<widget field="getangle" type="Number" class="edu.wpi.first.smartdashboard.gui.elements.TextBox">
		<location x="0" y="276"/>
	</widget>
	<widget field="pidController.setSetpoint: " type="Number" class="edu.wpi.first.smartdashboard.gui.elements.TextBox">
		<location x="0" y="253"/>
	</widget>
	<widget field="MotorController PID Write Velocity" type="Number" class="edu.wpi.first.smartdashboard.gui.elements.TextBox">
		<location x="13" y="230"/>
	</widget>
	<widget field="left enc" type="Number" class="edu.wpi.first.smartdashboard.gui.elements.TextBox">
		<location x="13" y="207"/>
	</widget>
	<widget field="pid drive straight" type="PIDSubsystem" class="edu.wpi.first.smartdashboard.livewindow.elements.PIDSubsystem">
		<widget field="Controller" type="PIDController" class="edu.wpi.first.smartdashboard.gui.elements.PIDEditor">
			<location x="0" y="0"/>
			<height>0</height>
			<width>0</width>
		</widget>
		<location x="0" y="207"/>
	</widget>
	<widget field="right error" type="Number" class="edu.wpi.first.smartdashboard.gui.elements.TextBox">
		<location x="0" y="184"/>
	</widget>
	<widget field="IR Enabled" type="Boolean" class="edu.wpi.first.smartdashboard.gui.elements.TextBox">
		<location x="0" y="161"/>
	</widget>
	<widget field="left setpoint" type="Number" class="edu.wpi.first.smartdashboard.gui.elements.TextBox">
		<location x="0" y="138"/>
	</widget>
	<widget field="left throttle" type="Number" class="edu.wpi.first.smartdashboard.gui.elements.TextBox">
		<location x="0" y="115"/>
	</widget>
	<widget field="right enc" type="Number" class="edu.wpi.first.smartdashboard.gui.elements.TextBox">
		<location x="0" y="92"/>
	</widget>
	<widget field="Relative scaled to absolute setpoint: " type="Number" class="edu.wpi.first.smartdashboard.gui.elements.TextBox">
		<location x="0" y="69"/>
	</widget>
	<widget field="right setpoint" type="Number" class="edu.wpi.first.smartdashboard.gui.elements.TextBox">
		<location x="0" y="46"/>
	</widget>
	<widget field="left error" type="Number" class="edu.wpi.first.smartdashboard.gui.elements.TextBox">
		<location x="0" y="23"/>
	</widget>
	<widget field="right throttle" type="Number" class="edu.wpi.first.smartdashboard.gui.elements.TextBox">
		<location x="0" y="0"/>
	</widget>
</dashboard>
<live-window>
</live-window>
</xml>